<!-- About -->
{% extends 'App/base.html' %}
{% block main %}
    <div class="container">
        <section class="page-section" id="beneficios" style="margin-top: 40px;">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Sobre el proyecto</h2> <hr>
                    Este proyecto es una plataforma diseñada para facilitar la gestión de candidatos en una empresa ficticia denominada "Tech". 
                    Permite a los usuarios registrarse como candidatos, completar su perfil, y postularse a diferentes ofertas de trabajo. 
                    La aplicación está diseñada para ser intuitiva y fácil de usar, automatizando el proceso de recruitment.
                    <hr>
                        
                </div>
        <p>
        </p>
        
        <h4 class="section-heading text-uppercase">Características del Proyecto</h4>
        <ul>
            <li>Registro y autenticación de usuarios.</li>
            <li>Creación y edición de perfiles de candidatos (con carga de CV).</li>
            <li>Postulación a ofertas de trabajo.</li>
            <li>Revisión del estado de las postulaciones.</li>

        </ul>

        <h4 class="section-heading text-uppercase">Sobre el Creador</h4>
        <p>
            Este proyecto fue creado por Javier Stumpf, un entusiasta estudiante de Data Science que está aprendiendo a programar en Python. 
            Es licenciado en Administración y busca orientar su carrera profesional hacia el mundo IT.
        </p>
        
        <h4 class="section-heading text-uppercase">Contacto</h4>
        <p>
            Si deseas ponerte en contacto conmigo, puedes hacerlo a través de:
        </p>
        <ul>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/javier-stumpf/" target="_blank">Javier Stumpf</a></li>
            <li>GitHub: <a href="https://github.com/javistumpf" target="_blank">javistumpf</a></li>
        </ul>
    </div>
{% endblock %}