<!-- Beneficios -->

{% extends 'App/base.html' %}
{% load static %}
{% block main %}
        <!-- Beneficios-->
        <section class="page-section" id="beneficios" style="margin-top: 40px;">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Beneficios</h2>
                    <hr>
                    <h3 class="section-subheading text-muted">Estamos constantemente en la selección de nuevos perfiles que busquen desafiarse y potenciarse en el mundo IT. <br>
                        Te ofrecemos un ambiente idóneo para que puedas desplegar tu talento .<hr> </h3>
                        
                </div>
                <div class="row text-center">
                    <!-- Elementos de trabajo -->
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Elementos de trabajo</h4>
                        <p class="text-muted">Para que desarrolles tu trabajo de manera cómoda y ágil.</p>
                    </div>
                
                    <!-- Trabajo remoto -->
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Trabajo remoto</h4>
                        <p class="text-muted">Con opción de trabajar en nuestras oficinas cuando desees.</p>
                    </div>
                
                    <!-- Capacitaciones -->
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Capacitaciones</h4>
                        <p class="text-muted">Acceso a cursos y certificaciones para que sigas creciendo profesionalmente.</p>
                    </div>
                
                    <!-- Beneficios corporativos -->
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-gift fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Beneficios corporativos</h4>
                        <p class="text-muted">Descuentos en gimnasios, tiendas de ropa y locales gastronómicos.</p>
                    </div>
                </div>
                
            </div>
        </section>

{% endblock main %}
