<!-- form_postulacion.html -->
{% extends 'App/base.html' %}

{% load static %}

{% block title %} Postularse a una búsqueda {% endblock title %}

{% block main %}
        <!-- Form Postulación-->
        <section class="page-section" id="Form_postulacion" style="margin-top: 40px;">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Postulación</h2>
                    <h3 class="section-subheading text-muted">Selecciona la búsqueda y postúlate.</h3>
                </div>
                <form method="post" enctype="multipart/form-data" style="margin: 0 auto; max-width: 600px; text-align: center;">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ mi_formulario.id_busqueda.label }}</td>
                            <td>{{ mi_formulario.id_busqueda }}</td>
                        </tr>
                    </table>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </section>
{% endblock main %}