<!-- form_postulacion -->

{% extends 'App/base.html' %}
{% block main %}

<section class="page-section" id="Form_postulacion" style="margin-top: 40px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Postulación</h2>
            <h3 class="section-subheading text-muted">Seleccioná la búsqueda que deseas postularte.</h3>
        </div>
    <div class="container">
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ mi_formulario.as_p }} 
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
{% endblock %}