<!-- Cambiar contraseña -->

{% extends 'App/base.html' %}
{% load static %}
{% block main %}

<section class="page-section" id="cambiar_contrasenia" style="margin-top: 40px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Cambiar contraseña</h2>
            <h3 class="section-subheading text-muted">Ingresá tu contraseña actual y luego la nueva contraseña.</h3>
        </div>
    
    <form action="" method="POST">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Actualizar">

    </form>

{% endblock main %}

