{% extends 'App/base.html' %}

{% load static %}

{% block title %} Editar perfil {% endblock title %}

{% block main %}
    
<section class="page-section" id="editar_perfil" style="margin-top: 40px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Editar perfil</h2>
            <h3 class="section-subheading text-muted">Modificá los datos que desees y luego presiona actualizar.</h3>
        </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <table>
            {{ mi_form.as_table }}
        </table>
        <input type="submit" value="Actualizar">

    </form>
    <br>

    <a class="btn btn-primary btn-l text-uppercase" href="{% url 'CambiarContrasenia' %}">Cambiar contraseña</a>


{% endblock main %}