{% extends 'App/base.html' %}

{% load static %}

{% block title %} Registro {% endblock title %}

{% block main %}
<section class="page-section" id="login" style="margin-top: 40px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Registro</h2>
            <h3 class="section-subheading text-muted">Creá tu usuario y contraseña.</h3>
        </div>
    {# Este div sólo está agregado para centrar el formulario en la página usando Bootstrap #}
    <div class="d-flex justify-content-center">

        {# Con este div colocamos el título y debajo el formulario usando Bootstrap #}
        <div class="d-flex flex-column">

            {# Mensaje personalizado en la vista de Login con estilos de Bootstrap #}
            <p class="fs-5 fw-bold">{{ msg_register }}</p>

            <form action="" method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}
                <input type="submit" value="Registrarse">

            </form>

        </div>
    </div>
{% endblock main %}